:root {
  --color-primary:#a6caca;
  --color-secondary:#333333;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;

  &::after, &::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
}

html, body {
  height: 100%;
  width: 100%;
  background-color: whitesmoke;
  font-weight: 100;
}

header.banner {
  height: 100vmin;
  width: 100%;
  position: relative;

  nav {
    width: 100%;
    position: fixed;

    .nav-content {
      padding: 0.5rem;
      display: flex;
      flex-wrap: nowrap;
      justify-content: space-between;

      ul {
        list-style: none;
        display: flex;
        justify-content: center;
      }
    }

    .border {
      width: 100%;
      height: 0.25rem;
      background: linear-gradient(90deg, var(--color-primary) 50%, var(--color-secondary) 50%);
    }
  }

  .banner-content {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .left {
      display: flex;
      flex-direction: column;
      justify-content: center;
      text-align: right;
      padding-right: 2rem;

      h1 {
        font-size: 3rem;
        margin-bottom: 1rem;
      }

      h3 {
        font-size: 1.5rem;
      }
    }
  }

  .right {
    width: 100%;
    background-image: url("./jacket-guy.jpg");
    background-position-x: 50%;
    background-size: cover;
    background-repeat: no-repeat;
  }
}